<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sistema</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password"></property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="com.jor.site.entidade.Cliente"/>
  <mapping class="com.jor.site.entidade.Produto"/>
  <mapping class="com.jor.site.entidade.Usuario"/>
  <mapping class="com.jor.site.entidade.Venda"/>
  <mapping class="com.jor.site.entidade.Parceria"/>
  <mapping class="com.jor.site.entidade.Contrato"/>
  <mapping class="com.jor.site.entidade.Site"/>
  <mapping class="com.jor.site.entidade.Empreendedor"/>
  <mapping class="com.jor.site.entidade.ProdutoFornecido"/>
 </session-factory>
</hibernate-configuration>
